<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <div class="row">
          <div class="col-6">
            User List
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-primary btn-sm">Add New</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">UserName</th>
              <th scope="col">City</th>
              <th scope="col">State</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            @for (item of userList; track $index) {
              <tr>
                <th scope="row">{{$index+1}}</th>
                <td>{{item.fName}}</td>
                <td>{{item.lName}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.city}}</td>
                <td>{{item.state}}</td> 
                <td>
                  <button class="btn btn-primary btn-sm" (click)="onEdit(item)">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="onDelete(item.userId)">Delete</button>
                </td>
              </tr> 
            }
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        <div class="row">
          <div class="col-6">
            New User
          </div>
          <div class="col-6  text-end">
            <button class="btn btn-primary btn-sm">Close</button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">First name</label>
            <input type="text"  name="fName" [(ngModel)]="userObj.fName" class="form-control" id="validationCustom01" value="Mark" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Last name</label>
            <input type="text" name="lName" [(ngModel)]="userObj.lName" class="form-control" id="validationCustom02" value="Otto" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend"></span>
              <input type="text" name="userName" [(ngModel)]="userObj.userName" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="validationCustom03" class="form-label">City</label>
            <select class="form-select" name="city" [(ngModel)]="userObj.city" >
              <option selected disabled value="">Choose...</option>
              @for (item of cityList$ | async; track $index) {
                <option >{{item}}</option>
              } 
            </select>
            <div class="invalid-feedback">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom04" class="form-label">State</label>
            <select class="form-select" id="validationCustom04"  name="state" [(ngModel)]="userObj.state" >
              <option selected disabled value="">Choose...</option>
              @for (item of stateList$ | async; track $index) {
                <option >{{item}}</option>
              } 
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom05" class="form-label">Zip</label>
            <input type="text" name="zipCode" [(ngModel)]="userObj.zipCode" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>

          <div class="col-12">
            <button class="btn btn-primary" type="button" (click)="onSaveUser()">Submit form</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>